.button_style_three::after {
  background-color: #8A2BE2;
  transition: transform 0.75s ease 0s, height 0.75s ease 0s;
  transform: translateX(-50%) translateY(-50%) rotate(-35deg);
}

.button_style_three:hover::after {
  height: 550%;
}